@media (max-width:1024px){
	
}
@media (max-width: 991px){
	body{
		background-size: contain;
	}
	.thumb-img, .thumb-info, .thumb-buy,.thumb-info-lg,.thumb-buy-lg{
		width: 100%;
	}
	.thumb-info, .thumb-buy,.thumb-info-lg,.thumb-buy-lg{
		height: auto;
	}
	.thumb-buy, .thumb-buy-lg{
		border-left: 0;
		border-top:1px solid #d7d7d7;
		height: auto;
	}
	.thumb-img{
		border-radius: 4px 4px 0 0px;
	}
}
@media (max-width: 767px){
	.bg-left{
		border-radius: 10px 10px 0 0;
	}
	.bg-right{
		border-radius: 0 0 10px 10px;
	}
	#btn-sort{
		display: block;
	}
	#filter{
		display: none;
	}
}
@media (max-width:680px ){

}
@media (max-width: 575px){
	
}
@media (max-width: 812px) and (max-height: 420px){
	
}